@import "./config";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    @include flex-center(column);

    .card {
        width: 18em;
        height: 28em;
        border-radius: 20px;
        margin-top: 5em;
        @include flex-center(column);

        .qr-img {
            width: 16em;
            height: auto;
            border-radius: 9px;
        }

        .h1{
            padding-top: 1em;
            font-size: 1.25rem;
            width: 13em;
            text-align: center;
        }

        .p{
            padding: 0.8em 0 1em 0;
            font-size: 0.92rem;
            width: 17em;
            text-align: center;
        }
    }

    .footer{
        position: absolute;
        bottom: 0.3em;
    }
}